/* NoProduct.module.css */

.noProduct {
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 25px 25px;
    margin: 15px auto;
    width: 800px;
    min-height: 70vh;
  }
  
  .lupa {
    width: 400px;
    height: 200px;
    margin-top: 15px;
  }

  .lista{
    text-align: justify;
  }
  
  .subtitulo {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  