.bodyModal {
    display: flex;
    flex-direction: column;
}

.containerBody {
    display: flex;
    flex-direction: row;
}

.titleProduct {
    width: 35em;
    height: 22px;
}

.titleStock {
    width: 9em;
    height: 22px;
}

.titlePrice {
    height: 22px;
}

.imagen {
    width: 10%;
    height: 10%;
    margin-right: 20px;
}

.name {
    width: 63%;
}

.stock {
    width: 5%;
    height: 5%;
    margin-right: 90px;
}


.finish {
    display: block;
	padding: 6px 12px;
    border: 1px;
	border-radius: 5px;
	color: #fff;
	/* border: none; */
    text-decoration: none;
	background: #dc1717;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	transition: .3s ease all;
}

.seguir{
    border: solid 1px #FF9E5C;
    background-color: #FF9E5C;
}
.seguir:hover{
    background-color: white;
    color: #FF9E5C;
    border: solid 1px #FF9E5C;
}

.finish{
    border: solid 1px red;
}
.finish:hover {
    background: white;
    color: red;
    border: solid 1px red;
}

.stock {
    display: flex;
    align-items: center;
  }
  
  .quantityButton {
    padding: 4px 8px;
    border: none;
    background-color: #eee;
    font-weight: bold;
    cursor: pointer;
  }
  
  .quantityValue {
    width: 24px;
    text-align: center;
  }
  
  .totalPriceContainer {
    margin: 15px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px 10px;

  }
  
  .totalPrice {
    display: inline-block;
    min-width: 150px;
  }