.image {
    width: 10%;
}

.h2 {
    text-align: left;
    margin-top: 5%;
}

.p {
    color: red;
    margin-top: 4px;
}

.contianerCarr {
    display: flex;
    flex-direction: row;
}

.buttons {
    background-color: black;
}