.container{
  margin: 20px;
	min-height: 80vh;
}

.buttons{
  display: flex;
  justify-content: center;
}


.linkBack {
  text-decoration: none;
  padding: 3px;
  background-color: #ff9e5c;
  border-color: #ff9e5c;
  color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
.linkBack:hover{
  background-color: white;
  color: #ff9e5c;
}

.btnFavorite{
    background-color: red;
    border-color: red;
    color: white;
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
}

.btnFavorite:hover {
    background-color: white;
    color: red;
  }

  .btnCart{
    background-color: #8a9b0f;
    border-color: #8a9b0f;
    color: white;
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
}

.btnCart:hover {
    background-color: white;
    color: #8a9b0f;
  }

.enCarrito{
  background-color: white;
  border-color: #8a9b0f;
  color: #8a9b0f;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 2px;
}