.h2 {
  text-align: left;
  width: 76%;
  margin: 40px auto 25px auto;
}

.span {
  background-color: #FF9E5C;
  color: white;
  font-size: 22px;
  border: solid 2px #FF9E5C;
  border-radius: 5px;
  padding: 5px;
}
.span:hover{
  background-color: white;
  color:#FF9E5C;
  border: solid 2px #FF9E5C;
  padding: 5px;
}

.link {
  text-decoration: none;
}

.carousel {
  width: 78%;
  margin: 5px auto;
  margin-bottom: 15px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 300px;
  margin: 5px 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98%;
}
.card:hover {
  box-shadow: 0 0 5px 1px #363636;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #FF9E5C;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-color: #FF9E5C;
  border-style: solid;
}

.card button:hover {
  background-color: white;
  color:#FF9E5C;
  border-color: #FF9E5C;
  border-style: solid;
}

.userNickname {
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #FF9E5C;
  color: white;
}

.rating {
  font-size: 20px;
  color: #FF9E5C;
  margin-bottom: 5px;
}

.message {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 280px;
  padding: 15px;
  margin: auto 15px;
  margin-bottom: 15px;
  text-align: justify;
}
