
.containShop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.sideContainer {
  width: 220px;
  margin-left: 10px;
  margin-top: 54px;
}

.productsContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.paginadoContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}