.header{
	width: 198px;

}

.contLi{
    display: flex;
    flex-direction: column;
		
}

.listDispatch{
    display: flex;
    gap: .5em;
		
}
.listDispatch input{
    margin-bottom: 15px;
		
}
.dispar{
    width: 100px;
    height: 100px;
    background-color: yellow;
}