:root {
    --backNav1: #6e6e92;
    --colorFonts: #ffffff;

    --colorBtn1: #0400ffa2;
    --colorBtn2: #00e1ff;
    --colorBtn3: #e100ff;
    --colorBtn4: #00e1ff;
    --colorBtn5: #ff000000;
}

.logo {
    width: 60px;
    height: 60px;
    background-image: url("../../../assets/lilbrito.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.navLink {
    color: var(--colorFonts);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: .3s;
}

.navLink:hover {

    font-size: 1.5rem;

}