:root {
    --backNav1: #6e6e92;
    --colorFonts: #ffffff;

    --colorBtn1: #0400ffa2;
    --colorBtn2: #00e1ff;
    --colorBtn3: #e100ff;
    --colorBtn4: #00e1ff;
    --colorBtn5: #ff000000;
}

.logo {
    width: 60px;
    height: 60px;
    background-image: url("../../../assets/lilbrito.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.navLink {
    color: var(--colorFonts);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
transition: .3s;
}

.navLink:hover {

    font-size: 1.5rem;

}

/* 
.nav {
    margin: 0;
    width: 100%;
    display: flex;
    background-color: var(--backNav1);
    color: var(--colorFonts);
    justify-content: space-evenly
}

.div {
    display: flex;
    align-items: center;
    width: 300px;
}

.div2 {
    display: flex;
}

.ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
margin: auto;
}




.li {
    position: relative;
    padding: 10px 20px;
    letter-spacing: 5px;
    display: flex;
    z-index: 2;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.li::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, var(--colorBtn1), var(--colorBtn2), var(--colorBtn3), var(--colorBtn4), var(--colorBtn5));
    background-size: 300%;
    border-radius: 10px;
    z-index: -1;
    filter: blur(5px);
    transition:  2s;
}


.li:hover::after {

    background-position: 100%;
    filter: blur(10px);
}


.li::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, var(--colorBtn1), var(--colorBtn2), var(--colorBtn3), var(--colorBtn4), var(--colorBtn5));
    background-size: 300%;
    border-radius: 10px;
    z-index: -1;
}

.li:hover::before {

    background-position: 100%;
} */